.cart{
    padding-top: 20px;
}
.cart h1{
    color: #5e81bd;
}
.cart h4{
    color: #e34c32;
    margin-top: 0;
}

.cart .prod-cart{
    display: flex;
    border: 1px solid #333;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.cart .cat{
    display: flex;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    align-items: center;
}

.cart .cat h5 {
    flex: 5;
}

.cart .cat label {
    flex: 1;
}

.cart .prod-cart img {
    height: 80px;
}

.cart .prod-cart h5 {
    flex: 5;
}

.cart .prod-cart label {
    flex: 1;
}

.cart .prod-cart button {
    width: 50px;
}

.cart .list {
    padding: 4rem;
}

.cart .btn-trash{
    background-color: #e34c32;
}
.cart .btn-trash i{
    color: white;
}
.cart .empty{
    width: 50px;
}
.cart .parent {

    display: flex;

}

.cart .list {
    flex: 3;
}

.cart .side {
    flex: 1;
}